@{
    ViewData["Title"] = "About";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>@ViewData["Title"]</h2>
<p>One project that I have completed, which has been a little while ago by now, was my HTML final project. It used a lot of CSS, probably more than the actual CSS final project, and I really liked the result!</p>
@await Html.PartialAsync("_Navigation")