@{
    ViewData["Title"] = "Current Projects";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>@ViewData["Title"]</h2>
<p>I'm currently working on finishing one of my English assignments, which is an essay that is 1,000 or more words.</p>
@await Html.PartialAsync("_Navigation")