@{
    ViewData["Title"] = "Ideas";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>@ViewData["Title"]</h2>
<p>Below are some future project ideas that I have in mind for the ASP.NET core class:</p>
<ul>
    <li>Snake game</li>
    <li>Hangman game</li>
    <li>Fake weather tracker</li>
</ul>
@await Html.PartialAsync("_Sidebar")